# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant
releases
tmp
.idea/
.vscode/

# Architecture specific extensions/prefixes
trace.out
*.out
.DS_Store

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
profile.cov
coverage.html

# Emacs backup files
*~

# ctags files
tags

# Project specific
/chaosblade
/blade
/bin/java-agent*.jar
/hack/chaosblade*
/hack/lib/**
/chaosblade.dat
target
coverage.txt
vendor
build/spec/*.yaml
*.gz
*.tar

# Website
site-build

build/image/blade/chaosblade-*
